<!doctype html>
<html lang="fi" ng-app ="wedApp">
<head>
	<meta charset="utf-8">
	<title>S & A</title>
	
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/public/stylesheets/style.css">
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="public/javascripts/scripts.js"></script>

</head>
<body ng-controller="MainCtrl">
	<header>
	
	</header>
	<div class="content">
		<div ui-view="nav"></div>
		<header>
		<nav class="navbar navbar-default">	
		 	<div class="navbar-header"> 
		  		<a class="navbar-brand" ui-sref="main">S & A</a>
		 	</div>
		 	<div>
		 		<ul class="nav navbar-nav">   
					<li><a ui-sref="info">Mitä</a></li>
					<li><a ui-sref="juhlat">Missä ja milloin</a></li>
					<li><a ui-sref="ilmo">Ilmoittautuminen</a></li>
					<li class="dropdown" id="loginmenu"><a class="dropdown-toggle" data-toggle="dropdown">Kirjaudu<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<div>
							<form ng-controller="LoginCtrl">
								<input class="form-control" placeholder="käyttäjä" ng-model="login.name">
								<input class="form-control" type="password" placeholder="salasana" ng-model="login.pwd">
								<button ng-click="notify(login)" class="btn btn-default">Kirjaudu</button>
							</form>
							</div>
						</li>
					</ul>
					</li>
				</ul> 
			</div>
		</nav>
		</header>
		<div ui-view>
		</div>
	</div>
</body>
</html>
