body {
	background-color: #98eecc;
}
.content{
	background-color: #f0f4f2;
	margin-left: auto;
	margin-right: auto;
	markin-bottom: 4px;
	width: 1024px;
	height: 97vh;	
	
}

.navbar-header {
	width: 10%;
}

.nav {
	width: 90%;
}

#loginmenu {
	position: absolute;
	left: 90%;
	cursor: pointer;
}
